@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.button-container {
    display: flex;
    align-items: center;
    width: 65%;
}
.start-game-btn {
    background: linear-gradient(135deg, #000000, #333333);
}

.start-game-btn:hover {
    background-color: #c82333;
}

.end-game-btn {
    background: linear-gradient(135deg, #dc3545, #c82333);
}

.end-game-btn:hover {
    background-color: #c82333;
}

