@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.score-container {
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.display-container {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 10px;
}

.balls-display {
    background: #000;
    color: #ff4040;
    width: 40px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.ball-on-bar {
    background: #000;
    color: #ffea00;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}

.display-label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ffea00;
    font-family: 'Source Sans Pro', sans-serif;
    align-self: flex-start;
    padding: 5px;
}

.balls-input,
.number-input,
.score-input,
#time-value,
.score-value {
    font-family: 'Digital-7', sans-serif;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    height: auto; 
    width: 100%;
    margin: 0;
    color: #ff4040;
    font-size: 2rem;
    padding: 5px;

}

.number-input, .score-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: auto; 
    width: 100%;

}

.number-input{
    margin-left: 10px;
}

.time-display,
.number-display,
.score-display {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    
}

.number-input{
    color: #ff4040;
    font-size: 1.75em;
    
}

.score-input{
    color: #ff4040;
    font-size: 1.75rem;

}

.number-display {
    width: 25%;
}

.score-display {
    width: 75%;
}

.centered {
    justify-content: center;
}

.time-display{
    width: 100%;
}

.time-value, .score-value {
    color:#ff4040;
}