.stat-card {
    background-color: #333; /* Dark background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
    text-align: center;
    width: 90px; /* Set a fixed width */
    height: 60px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-card h4 {
    margin: 0;
    font-size: 10px; /* Smaller font size */
    color: #fff; /* White text color */
}

.stat-card p {
    margin: 0;
    font-size: 16px; /* Smaller font size */
    font-weight: 600; /* Bold text */
    color: #f9570c;
}